<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>Quiz Python Test</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'quiz/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'quiz/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'quiz/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-1"><i class="fa fa-mortar-board fa-5x"></i></div>
                <div class="col-lg-11"><h1 class="page-header">Quiz Game</h1></div>
            </div>
        </div>
        <div class="row">
            <div class="panel-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-active">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% trans 'Tenant' %}</th>
                                    <th>{% trans 'Total Requests' %} </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tenant in tenants %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{tenant}}</td>
                                    <td>{{tenant.requests.all.count}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="huge">{{total_questions}}</div>
                                <div>{% trans 'Total Questions' %}</div>

                            </div>
                            <div class="col-xs-9 text-right">
                              <i class="fa fa-question-circle fa-5x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="huge">{{total_answers}}</div>
                                <div>{% trans 'Total Answers' %}</div>
                            </div>
                            <div class="col-xs-9 text-right">
                                <i class="fa fa-edit fa-5x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="huge">{{total_users}}</div>
                                <div>{% trans 'Total Users' %}</div>
                            </div>
                            <div class="col-xs-9 text-right">
                                <i class="fa fa-male fa-5x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
